.App {
  text-align: center;
  margin-top: 100px;
  font-family: sans-serif;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}
